<header class="main-header">
  <h1 class="main-header__title">
    <span class="main-header__title--gray">Loja Virtual</span>
    <span class="main-header__title--orange">TechMania</span>
  </h1>
  <div class="container-menu">
    <nav class="main-header__menu">
      <ul>
        <li>
          <a routerLink="/home"><i class="fa-solid fa-house"></i> Início</a>
        </li>
        <li>
          <a routerLink="/produtos"><i class="fa-brands fa-product-hunt"></i>Produtos</a>
        </li>
        <li>
          <a><i class="fa-solid fa-cart-plus"></i><span class="badge-carrinho">0</span>Carrinho</a>
        </li>
        <li>
          <a routerLink="/contato"><i class="fa-solid fa-address-card"></i>Contato</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/daniel-penelva-andrade/" target="_blank">
            <i class="fa-brands fa-linkedin"></i> Linkedin
          </a>
        </li>
      </ul>
    </nav>
    <form class="search-form">
      <input type="text" />
      <button><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
  </div>
</header>
