<header class="main-header">
  <h1 class="main-header__title">
    <span class="main-header__title--gray">Loja Virtual</span>
    <span class="main-header__title--orange">TechMania</span>
  </h1>
  <div class="container-menu">
    <nav class="main-header__menu">
      <ul>
        <li>
          <a><i class="fa-brands fa-product-hunt"></i>Produtos</a>
        </li>
        <li>
          <a><i class="fa-solid fa-cart-plus"></i><span class="badge-carrinho">0</span>Carrinho</a>
        </li>
        <li>
          <a><i class="fa-solid fa-address-card"></i>Contato</a>
        </li>
        <li>
          <a><i class="fa-brands fa-square-facebook"></i>Facebook</a>
        </li>
        <li>
          <a><i class="fa-brands fa-square-instagram"></i>Instagram</a>
        </li>
        <li>
          <a><i class="fa-brands fa-square-x-twitter"></i>Twitter</a>
        </li>
        <li>
          <a><i class="fa-brands fa-square-linkedin"></i>Linkedin</a>
        </li>
      </ul>
    </nav>
    <form class="search-form">
      <input type="text" />
      <button><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
  </div>
</header>
