<footer class="footer">
  <div class="footer__container">
    <address>
      <h2 class="footer__title">Contato</h2>
      <ul>
        <li>
          <a href="https://wa.me/5521995265599" target="_blank">
            <i class="fa-brands fa-square-whatsapp"></i> (21) 99526-5599
          </a>
        </li>

        <li>
          <a href="mailto:d4n.andrade@gmail.com">
            <i class="fa-solid fa-at"></i> d4n.andrade&#64;gmail.com
          </a>
        </li>

        <li>
          <a href="https://www.linkedin.com/in/daniel-penelva-andrade/" target="_blank">
            <i class="fa-brands fa-linkedin"></i> linkedin.com/in/daniel-penelva-andrade
          </a>
        </li>

        <li>
          <a href="https://github.com/Daniel-Penelva" target="_blank">
            <i class="fa-brands fa-square-github"></i> github.com/Daniel-Penelva
          </a>
        </li>
      </ul>
    </address>
  </div>

  <section class="footer__copyright">
    Loja Virtual TechMania | © 2025 — Daniel Penelva de Andrade
  </section>
</footer>
