<footer class="footer">
  <div class="footer__container">

    <!-- ============================
         COLUNA 1 — CONTATOS
         ============================ -->
    <address class="footer__section fade-seq">
      <h2 class="footer__title fade-seq">Contato</h2>
      <ul>
        <li class="fade-seq">
          <a href="https://wa.me/5521995265599" target="_blank">
            <i class="fa-brands fa-square-whatsapp"></i> (21) 99526-5599
          </a>
        </li>

        <li class="fade-seq">
          <a href="mailto:d4n.andrade@gmail.com">
            <i class="fa-solid fa-at"></i> d4n.andrade&#64;gmail.com
          </a>
        </li>

        <li class="fade-seq">
          <a href="https://www.linkedin.com/in/daniel-penelva-andrade/" target="_blank">
            <i class="fa-brands fa-linkedin"></i> linkedin.com/in/daniel-penelva-andrade
          </a>
        </li>

        <li class="fade-seq">
          <a href="https://github.com/Daniel-Penelva" target="_blank">
            <i class="fa-brands fa-square-github"></i> github.com/Daniel-Penelva
          </a>
        </li>
      </ul>
    </address>

    <!-- ============================
         COLUNA 2 — LINKS RÁPIDOS
         ============================ -->
    <nav class="footer__section fade-seq">
      <h2 class="footer__title fade-seq">Links Rápidos</h2>
      <ul>
        <!--
          IMPORTANTE:
          Aqui eu usei <a> como links comuns,
          porém futuramente vou trocar tudo por <a routerLink="">
          para navegar internamente entre páginas Angular.
        -->
        <li class="fade-seq"><a routerLink="/home"><i class="fa-solid fa-house"></i> Início</a></li>
        <li class="fade-seq"><a href="#"><i class="fa-brands fa-product-hunt"></i> Produtos</a></li>
        <li class="fade-seq"><a href="#"><i class="fa-solid fa-cart-shopping"></i> Carrinho</a></li>
        <li class="fade-seq"><a routerLink="/contato"><i class="fa-solid fa-envelope"></i> Contato</a></li>
        <li class="fade-seq"><a routerLink="/sobre"><i class="fa-solid fa-circle-info"></i> Sobre</a></li>
      </ul>
    </nav>

  </div>

  <!-- ============================
       COPYRIGHT
       ============================ -->
  <section class="footer__copyright fade-seq">
    Loja Virtual TechMania | © 2025 — Daniel Penelva de Andrade
  </section>
</footer>
