
<!-- Exemplo 1 ================= LOADING BAR (PROGRESS) - BARRA DE CARREGAMENTO ================= 
<div class="loading-container" *ngIf="isLoading">
  <div class="loading-bar"></div>
  <p class="loading-text">Carregando produtos...</p>
</div>
-->

<!-- Exemplo 2 =======================================================
     SKELETON LOADING (Shimmer)
     ======================================================= -->
<section class="product-list" *ngIf="isLoading">
  <div class="skeleton-card" *ngFor="let s of [].constructor(itensPorPagina)">
    <div class="skeleton-img shimmer"></div>
    <div class="skeleton-line shimmer"></div>
    <div class="skeleton-line short shimmer"></div>
    <div class="skeleton-button shimmer"></div>
  </div>
</section>

<!-- ======================================================
     LISTA DE PRODUTOS
     - Grid responsivo
     - Cada card possui hover animado
     (AGORA PAGINADOS)
     Apenas adiciona o atributo [@listaAnimada] para ativar a animação
     ====================================================== -->
<section class="product-list" *ngIf="!isLoading" @listaAnimada>
  <div class="product-list__card"
       *ngFor="let produto of produtosPaginados">

    <a class="product-list__link">
      <img [src]="produto.imagem" />

      <h2 class="product-item__name">{{ produto.descricao }}</h2>

      <p class="product-item__price">
        R$ {{ produto.preco | currency : "BRL" }}
      </p>

      <p class="product-item__price-description">
        {{ produto.descricaoPreco }}
      </p>

      <button type="button"
              class="product-item__buy-button">
        Comprar
      </button>
    </a>
  </div>
</section>

<!-- ============================================================
     PAGINAÇÃO
     ============================================================ -->
<div class="pagination">

  <!-- Botão anterior -->
  <button class="pagination__btn"
          [disabled]="paginaAtual === 1"
          (click)="paginaAnterior()">
    « Anterior
  </button>

  <!-- Botões numerados (1, 2, 3...) -->
  <button class="pagination__number"
          *ngFor="let p of [].constructor(totalPaginas); let i = index"
          [class.active]="paginaAtual === (i+1)"
          (click)="irParaPagina(i+1)">
    {{ i + 1 }}
  </button>

  <!-- Botão próximo -->
  <button class="pagination__btn"
          [disabled]="paginaAtual === totalPaginas"
          (click)="proximaPagina()">
    Próxima »
  </button>
</div>

<div class="item-product__counter">
  <!-- ============================================================
      CONTADOR DE PRODUTOS — "Exibindo X–Y de Z"
      ============================================================ -->
  <p class="product-counter">
    Exibindo {{ inicioExibicao }}–{{ fimExibicao }}
    de {{ produtos.length }} produtos
  </p>
</div>