<div class="container">
  <app-header></app-header>
</div>

<!-- Botão fixo no canto superior direito para alternar tema -->
<button class="btn-toggle-theme" (click)="toggleDarkMode()">
  <i
    *ngIf="!isDarkMode"
    class="fa-solid fa-moon rotate-icon"
    aria-hidden="true"
  ></i>
  <i
    *ngIf="isDarkMode"
    class="fa-solid fa-sun rotate-icon"
    aria-hidden="true"
  ></i>
</button>

<!-- ESSA LINHA É O QUE PERMITE ABRIR OS LINKS DAS PÁGINAS -->
<router-outlet></router-outlet>

<app-footer></app-footer>

<!-- ======================================================================
     BOTÃO VOLTAR AO TOPO (VISÍVEL SOMENTE QUANDO ROLAR A PÁGINA)
     ====================================================================== -->
<button 
  class="btn-back-to-top"
  *ngIf="showBackToTop"
  (click)="scrollToTop()">
  <i class="fa-solid fa-arrow-up"></i>
</button>